<h2>Need more cow bell?</h2>

<p>Whether it be private or public, individual or corporate, we can be reached at <a href="mailto:info@revolvingcow.com" title="info@revolvingcow.com">info at revolvingcow.com</a>. We are more than willing to discuss how to make your ideas become a tangible reality and to ease the process here are some things to think about:</p>

<ul>
	<li>who is the target audience?</li>
	<li>what delivery medium should be used?</li>
	<li>are there similar products or services which may be used for reference or inspiration?</li>
</ul>

<p>Armed with this information we can provide a quote within 24 hours detailing the amount of time and effort required, a plan of attack to deliver the product in whole or by iteration, and a overall price quote.</p>