<!-- <img src="/images/fast-efficient-lightweight.png" alt="Fast, efficient, and lightweight" /> -->
<h2>Fast, efficient, and lightweight</h2>

<p>Practicing the "test first" philosophy our code is more likely to run longer and more efficiently.</p>
<p>With a strong belief in not over complicating a problem we strive to find the core issues and approach them with simple and sound solutions.</p>

<!-- <img src="/images/limber.png" alt="We&apos;re limber!" /> -->
<h2>We're limber!</h2>

<p>No matter whether your environment uses Linux, Mac, or Windows we can integrate.</p>
<p>Regardless of programming language or framework we can handle it.</p>