<ul class="bullets three">
	<li>
		<div class="bullet-image">
			<img src="images/analyze.jpg" alt="Analyze" />
		</div>
		<div class="bullet-content">
			<h2>Analyze.</h2>
			
			<p>Through the process of inspecting, cleaning, transforming, and modeling we can</p>
			
			<ul>
				<li>- <span class="highlight">highlight</span> useful information</li>
				<li>- provide <span class="highlight">accurate</span> conclusions</li>
				<li>- support <span class="highlight">decision making</span></li>
			</ul>
		</div>
		<div class="bullet-footer">
			<p><a class="button rosy" href="#/services" title="More">More</a></p>
		</div>
	</li>
	<li>
		<div class="bullet-image">
			<img src="images/develop.jpg" alt="Analyze" />
		</div>
		<div class="bullet-content">
			<h2>Develop.</h2>
			
			<p>From requirement gathering to final delivery we practice test driven development to provide <span class="highlight">efficient</span> and <span class="highlight">long lasting</span> custom solutions.</p>
		</div>
		<div class="bullet-footer">
			<p><a class="button rosy" href="#/services" title="More">More</a></p>
		</div>
	</li>
	<li>
		<div class="bullet-image">
			<img src="images/maintain.jpg" alt="Analyze" />
		</div>
		<div class="bullet-content">
			<h2>Maintain.</h2>
			
			<p>Whether it is because an existing platform has changed or requirements have been refined, we can track down <span class="highlight">defects</span>, perform <span class="highlight">preventative</span> maintenance, or provide <span class="highlight">performance</span> enhancements!</p>
		</div>
		<div class="bullet-footer">
			<p><a class="button rosy" href="#/services" title="More">More</a></p>
		</div>
	</li>
</ul>